 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    background: #CCFBFE;
    overflow: hidden;
  }
  
  .container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .tinder-cards {
    flex-grow: 1;
    padding-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
  }
  
  .tinder-card {
    display: inline-block;
    width: 90vw;
    max-width: 250px;
    height: 90vh;
    background: #FFFFFF;
    padding-bottom: 40px;
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
  }
  
  .tinder-card img {
    max-width: 60%;
    pointer-events: none;
  }
  
  .tinder-card h3 {
    margin-top: 32px;
    font-size: 32px;
    padding: 0 16px;
    pointer-events: none;
  }
  
  .tinder-card p {
    margin-top: 24px;
    font-size: 20px;
    padding: 0 16px;
  }